---
import Layout from '../layouts/Layout.astro';

import { ContractsTable } from '../components/ContractsTable';
import { Heading } from '~/components/ui/Heading';
import { getCollection } from 'astro:content';
import { css } from 'styled-system/css';
import { MapContainer } from '~/components/Map';
import { Agenda } from '~/components/Agenda';

const contracts = await getCollection('contracts');

const events = new Map();

for (const contract of contracts) {
  for (const date of contract.data.dates) {
    const key = date.toISOString().slice(0, 10);

    if (!events.has(key)) {
      events.set(key, [contract.slug]);
    } else {
      events.set(key, [...events.get(key), contract.slug]);
    }
  }
}
---

<Layout title="AMAP Couffouleux">
  <Heading as="h1" size="4xl" className={css({ fontWeight: 'black', mb: '4' })}>AMAP Couffouleux</Heading>

  <p class={css({ mb: '4' })}>Bienvenue sur le site de l'AMAP de Couffouleux</p>

  <hr class={css({ mb: '10' })} />

  <Heading as="h2" size="2xl" className={css({ mb: '2' })}> Les contrats </Heading>

  <ContractsTable className={css({ mb: '10' })} />

  <Heading as="h2" size="2xl" className={css({ mb: '2' })}> Les distributions </Heading>

  <p>
    Tous les <strong>mardis</strong> de <strong>18h15</strong> à <strong>19h15</strong>.
  </p>

  {/* can't use client:load because of the current day borders indicator */}
  <Agenda contracts={contracts} className={css({ mb: '10' })} client:load />

  <Heading as="h2" size="2xl" className={css({ mb: '2' })}>Informations pratiques</Heading>

  <p class={css({ mb: '4' })}>
    Adresse : Chemin du Port-Haut, 81800 Couffouleux<br />
  </p>

  <MapContainer client:only="preact" />
</Layout>
